---
import '../styles/global.css';

import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Skills from '../components/Skills.astro';
import Projects from '../components/Projects.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';

import projects from '../data/projects.json';
import skills from '../data/skills.json';
---

<Layout title="Segundo Miguel Delgado Ruiz — Portafolio">
	<Navbar />
  <main class="main-container py-10">
    <section id="inicio">
      <Hero />
    </section>

    <section id="sobre-mi" class="mt-16">
      <About />
    </section>

    <section id="habilidades" class="mt-20">
      <Skills skills={skills} />
    </section>

    <section id="proyectos" class="mt-20">
      <Projects projects={projects} />
    </section>

    <section id="contacto" class="mt-20">
      <Contact />
    </section>
  </main>

  <Footer />
</Layout>


